.hero-banner {
    background-image: url(../assets/img/hero-banner-about.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    overflow-x: hidden;
}

