:root {
  /* -------- PRIMARY ------- */

  --primary: #FFCA0F;
  --primary-rgb: 255, 202, 15;
  --primary-hover: #f0bf0f;
  --primary-border: #f0bf0f;
  --primary-active: #e6b70f;
  
  /* -------- TRANSITION ------- */
  --transition: all .25s linear;
}
